<%= simple_form_for([@discussion, @reply], remote: true) do |f| %>

  <div class="field-reply">
    <%= f.input :content, input_html: { class: 'textarea' }, wrapper: false, label_html: { class: 'label' } %>
    <%= f.button :submit, 'Leave a reply', class:'btn-rep is-info' %>  
  </div>
<% end %>
