<h1>Posts#new</h1>
<p>Find me in app/views/posts/new.html.erb</p>

<h1 class="title is-size-3">New Discussion</h1>

<%= render 'form', discussion: @discussion%>
<%= link_to 'Back', discussions_path %>
