<div class="container-hint">
  <h1>Hints</h1>
  <p>Fishing equipments</p>
  <% @hints.each_with_index do |hint, index| %>
    <div class="card-product-hint">
        <h2><%= hint.equipment %></h2>
        <%= cl_image_tag hint.photo.key %>
        <p><%= hint.description %></p>
    </div>
  <% end %>
  <%= link_to "Back", :back, class: "btn btn-primary" %>
</div>
