
<div class="container">
  <h1>Fishing Spots#index</h1>
  <p>Find me in app/views/fishing_spots/index.html.erb</p>

   <div class="search">
    <%= form_with url: fishing_spots_path, method: :get, class: "d-flex search-field" do %>
      <%= text_field_tag :query,
      params[:query],
      class: "form-control",
      placeholder: "Find Your Location"
      %>
      <%= submit_tag "Search", class: "btn btn-primary" %>
    <% end %>
  </div>

  <div class="card-container">
    <div class="row">
    <% @fishingspots.each do |fishing_spot| %>
      <div class="col-sm-6">
        <div class="card card-block">
          <h3 class="card-title">Special title treatment</h3>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <%= link_to "Go Somewhere", fishing_spot_path(fishing_spot), class: "btn btn-primary"%>
        </div>
      </div>
    <% end %>
    </div>
  </div>
</div>
</div>
