
<div class="container">
  <h1>Fishing Spots</h1>
  <p>Find me in app/views/fishing_spots/index.html.erb</p>

   <div class="search">
    <%= form_with url: fishing_spots_path, method: :get, class: "d-flex search-field" do %>
      <%= text_field_tag :query,
      params[:query],
      class: "form-control",
      placeholder: "Find Your Location"
      %>
        <%= submit_tag "Search", class: "btn btn-primary" %>
    <% end %>
  </div>

  <div class="card-container">
    <div class="row">
      <div class="col-sm-6">
        <div class="card card-block">
          <h3 class="card-title">Special title treatment</h3>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
      <div class="col-sm-6">
          <div class="card card-block">
            <h3 class="card-title">Special title treatment</h3>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="card card-block">
            <h3 class="card-title">Special title treatment</h3>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="card card-block">
            <h3 class="card-title">Special title treatment</h3>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="card card-block">
            <h3 class="card-title">Special title treatment</h3>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="card card-block">
            <h3 class="card-title">Special title treatment</h3>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
    </div>
  </div>
</div>





















</div>
