@import url('https://fonts.googleapis.com/css2?family=Spicy+Rice&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Philosopher&display=swap');

.container {
  // position: relative;
  background: linear-gradient(60deg, #3f95f1 0%, #a2ebf5 100%);
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 209px;
}

.card-container{
  // position:relative;
  padding: 0px;
  margin-top: 20px;
  max-width: 80%;
  width: 80%;
}

.search {
  padding-top:20px
}

.card-block{
  position: relative;
  padding: 10px;
  margin: 15px;
  // height: 24vh;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  border-top-left-radius: 30px;
  border-bottom-right-radius: 20px;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.card-image {
  overflow: hidden;
  margin-bottom: 15px;
  height: 175px;
  width: 100%;
  background-size:contain;
  clip-path:polygon(0 0, 100% 0, 100% 80%, 0 100%);
  // transform: perspective(300px) translateZ(40px);
  border-top-left-radius: 30px;
  // border-top-right-radius: 15px;
}

.card-address {
  font-family: 'Philosopher', sans-serif;
  font-weight: bold;
  text-align: center;
}

.card-text {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-style: italic;
  text-align: center;
}

.card-activity {
  margin: 0 auto;
}

.card-activity > .fa-solid {
  color: gold;
}
