.container-fishingspot{
  background: linear-gradient(60deg, #543ab7 0%, #00acc1 100%);
  
}

.title-fish {
  padding-top: 10px;
  color: yellow;
  font-size: 35px;
  font-family: 'Roboto Slab', serif;
  font-weight: bold;

}

