.container-fishingspot{
  background: linear-gradient(60deg, #3f95f1 0%, #a2ebf5 100%);
}

.title-fish {
  padding-top: 10px;
  color: gold;
  font-size: 35px;
  font-family: 'Roboto Slab', serif;
  font-weight: bold;
  text-align: center;
  text-shadow: 0 0 3px black;
}

.title-fish-h2 {
  padding-top: 10px;
  color: gold;
  font-size: 26px;
  font-family: 'Roboto Slab', serif;
  font-weight: bold;
  text-align: center;
  text-shadow: 0 0 3px black;
}
